.maincontainer{
    background-image: url('../login/bck111.jpg');
    background-repeat:no-repeat;
    height: 140vh;
    background-size: cover;
}
.main1{
    display: flex;
    justify-content: space-between;
    padding-top: 1.7%;
    padding-bottom: 1.7%;
    font-family: 'Montserrat';
    font-weight: 525;
}
.navbar{
    width: 50%;
    font-size: larger;
}
.navbar nav{
    margin-left: 13%;
    margin-top: 2%;
}
.navbar a{
    text-decoration: none;
    padding: 7%;   
}
.maincontainer h1{
    text-align: center;
    color: blue;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 5%;
}
.flight1{
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    width: 80%;
    margin-left: 7%;
    margin-top: 3%;
    padding: 1% 1%;
    border-radius: 20px;
    box-shadow: 1px 10px 30px rgb(0, 0, 0);
}
.flight1 p{
    font-family: 'Montserrat';
}
.flight1 h3{
    font-family: 'Montserrat';
}
.flightl{
    margin-left: 5%;
}
.flightr{
    margin-right: 8%;
}
.maincontainer label{
    display: block;
    padding: 3% 0%; 
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    font-family: 'Montserrat';    
}
form input{
    border: 1.5px solid #687083;
    padding: 2% 0%;
    padding-left: 3%;
    font-size: 15px;
    border-radius: 5px;
    border-color: #687083;
}
.maincontainer button{
    background-color: rgb(232, 24, 24);
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    font-family: 'Montserrat';
    border-radius: 55px;
    border: none;
    padding: 2% 3%;
    margin-top: 8%;
    margin-left: 30%;
}
.form11{
    border: 2px solid gray;
    height: 120%;
    width: 30%;
    padding: 1.5% 2%;
    margin-left: 32%;
    padding-right: 0%;
    border-radius: 10px;
    box-shadow: 10px 10px 100px rgb(0, 0, 0);


}
.maincontainer form{
    margin-left: 5%;
}

.buttond button{
    padding: 1.5% 2%;
    margin-bottom: 5%;
    margin-right: 25%;
}
.buttond{
    width: 50%;
    margin-left: 30%;
}