<div class="maincontainer">
    <div class="main1">
        <div>
            <img src="" alt="">
        </div>
        <div class="navbar">
            <nav>
                <a routerLink="/home" href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#" routerLink="/">Log Out</a>
            </nav>
        </div>
    </div>
    <div class="main2">
        <div class="welcome">
            <h3>Nice to meet you</h3>
            <h1>FLIGHT BOOKING</h1>
            <p>The journey of a thousand miles begins with a single step</p>
            <h4 class="upload">Here  we go -----></h4>
            <br>
            <a href="" routerLink="/search"> BOOK YOUR FLIGHT</a>

        </div>
        <div class="homeimg">
            <img src="../assets/img/airo22.png" alt="">
        </div>
    </div>
</div>

<footer >
    <div class="footer">
        <div class="footer1">
            <ul>
                <h2>About</h2>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="footer2">
            <ul>
                <h2>Test</h2>
                <li><a href="">Search</a></li>
                <li><a href="">Booking Details</a></li>
                <li><a href="">My Booking</a></li>
            </ul>
        </div>
        <div class="footer4">
            <ul>
                <h2>Keep in Touch</h2>
                <li> Email : karvindh2002@gmail.com</li>
                <li>Mobile No: 91+ 8946046853</li>
            </ul>
        </div>
    </div>
    <div class="line">
        <hr>
    </div>
    <div class="pname">
        <div>
            <h1> FLIGHT BOOKING</h1>
        </div>
        <div class="footsocial">
            <ul>
                <li><a href="#" class="fa fa-instagram"> </a> </li>
                <li><a href="#" class="fa fa-facebook"></a>  </li>
                <li><a href="#" class="fa fa-twitter"></a> </li>
            </ul>
             
            
        </div>
    </div>
</footer>