
<div class="home1">
    <div class="leftword">
      <h1>FLIGHT BOOKING</h1>
      <br>
      <p> Start your Jounery </p>
    </div>
    <div class="rightimg1">
      <img src="../assets/img/airo1.jpeg" alt="">
      <div class="loginad">
        <a href="" routerLink="/admin"><p>LOGIN AS ADMIN<span class="mdi mdi-arrow-right-circle"></span></p></a>
      </div>
      <br>
      <div class="loginst">
       <a routerLink="/login" href=""><p>LOGIN AS USER<span style="margin-left: 35%;" class="mdi mdi-arrow-right-circle"></span></p> </a> 
      </div>
      <br>
    </div>
  </div>