<form action="">
    <label for="name"> name:</label>
    <input type="text" name="name1" [(ngModel)]="stud.name1">
    <input type="text" name="passw" [(ngModel)]="stud.passw">
    <button type="submit" (click)="submit()">sub</button>
</form>

<div class="search-container">
    <input type="text" id="search-input" list="suggestions" placeholder="Search...">
    <datalist id="suggestions">
      <option value="Apple">
      <option value="Banana">
      <option value="Cherry">
      <option value="Grapes">
      <option value="Orange">
      <option value="Pineapple">
      <option value="Strawberry">
    </datalist>
  </div>

<div class="maindiv">
    <div class="hi heloo"> box1</div>
    <div class="hi heloo2"> box1</div>
    <div class="hi heloo3"> box1</div>
    <div class="hi heloo4"> box1</div>
    <div class="hi heloo5"> box1</div>
    <div class="hi heloo6"> box1</div>
</div>

  