.maindiv{
    display: grid;
    grid-template-columns: auto auto;
}
.hi{
    border: 2px solid red;
    text-align: center;
    width: 50%;
    padding: 7%;
}
.heloo:hover{
    background-color: blue;
    transition: 0.70s;
    transform: rotate(180deg);
}
.heloo2:hover{
    background-color: blue;
    width: 70% ;
    height: 70%;
    transition:width 0.70s,height 2s;
    transform: rotate(180deg);
}
.heloo3{
    color: aliceblue;
}
.heloo3:hover{
    color: blue;
}
#suggestions option {
    padding: 10px;
    cursor: pointer;
}
  
  